name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        ruby-version: ['3.4.8']
    
    steps:
    - uses: actions/checkout@v6
    
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true
    
    - name: Install Chrome
      id: setup-chrome
      uses: browser-actions/setup-chrome@v2
      with:
        chrome-version: stable
    
    - name: Verify Chrome installation
      run: |
        ${{ steps.setup-chrome.outputs.chrome-path }} --version
    
    - name: Install dependencies
      run: bundle install
    
    - name: Run tests
      run: bundle exec rake test
    
    - name: Run tests with verbose output
      if: failure()
      run: bundle exec rake test TESTOPTS="-v"
